
.toggleButton{
    display: inline-block;
    width: 45px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 15px;
    position: relative;
}
.toggleButton input{
    margin: 0;
    /* display: none; */
    width: 100%;
    height: calc(100% - 3px);
    transform: translate(-10px);
    z-index: 2;
}
.slider{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto 2.8px auto 2.8px;
    content: "";
    width: 16.5px;
    height: 17px;
    border-radius: 100px;
    background-color: beige;
    /* transform: translate(10px); */
}
 input[type="checkbox"]:checked + .slider{
    transform: translate(20px);
 }
 input[type="checkbox"]:checked{
    
    transform: translate(10px);
}